@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

.container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.first {
  height: 100%;
  width: 33%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.first > div {
height: 100%;
width: 100%;
background-position: left;
background-repeat: no-repeat;
background-size: 300% auto;
}


.second {
  height: 100%;
  width: 33%;
  position: absolute;
  top: -200%;
  left: 33%;
  transition: transform 0.5s ease-in-out;
}

.second > div {
height: 100%;
width: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: 300% auto;
}

.third {
  height: 100%;
  position: absolute;
  top: 0;
  left: 66%;
  width: 33%;
  transition: transform 0.5s ease-in-out;
}

.third > div {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 300% auto;
    background-position: right;
}

button {
  background-color: #fff;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
}

button:hover {
  color: #222;
}

button:focus {
  outline: none;
}

.container .controls button {
  position: absolute;
  left: 50%;
  bottom: 20px;
  z-index: 100;
}

.container .controls .down-button {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.container .controls .up-button {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
